<ul class="links">
	<!-- MINTY {{ HOMEPAGE_SECTION }} --> 
<li id='nav_homepage' <!-- IF HOMEPAGE_SECTION == 'homepage' --> class='active' <!-- ENDIF --> ><a href="./homepage">GR420</a></li>
<li id='nav_forums' <!-- IF HOMEPAGE_SECTION == 'forums' --> class='active' <!-- ENDIF --> ><a href="./">Forums</a></li>
<li id='nav_tutorials' <!-- IF HOMEPAGE_SECTION == 'tutorials' --> class='active' <!-- ENDIF --> ><a href="./tutorials">Tutorials</a></li>
<li id='nav_podcasts' <!-- IF HOMEPAGE_SECTION == 'podcasts' --> class='active' <!-- ENDIF --> ><a href="./podcasts">PodCasts</a></li>
<li id='nav_diaries' <!-- IF HOMEPAGE_SECTION == 'diaries' --> class='active' <!-- ENDIF --> ><a href="./diaries">Diaries</a></li>
<li id='nav_reviews' <!-- IF HOMEPAGE_SECTION == 'reviews' --> class='active' <!-- ENDIF --> ><a href="./reviews">Reviews</a></li>
<li id='nav_links' <!-- IF HOMEPAGE_SECTION == 'links' --> class='active' <!-- ENDIF --> ><a href="./links">Links</a></li>
<li id='nav_compititions' <!-- IF HOMEPAGE_SECTION == 'compititions' --> class='active' <!-- ENDIF --> ><a href="./compititions">Competitions</a></li>
</ul>
