<!DOCTYPE HTML>
<html>

<head>
	{% include '@minty_homepage/common/head.html' %}
	<link rel="stylesheet" href="../ext/minty/homepage/styles/all/template/dhtmlx/dhtmlxscheduler.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="../ext/minty/homepage/styles/all/template/dhtmlx/dhtmlxscheduler_material.css" type="text/css" charset="utf-8"> 
</head>

<body class="is-preload">
	<div id="wrapper" class="fade-in">
		<div id="intro">{% include '@minty_homepage/common/intro.html' %}</div>
		<header id="header">{% include '@minty_homepage/common/banner.html' %}</header>
		<nav id="nav">{% include '@minty_homepage/common/navigation.html' %}</nav>
	</div>
	<div id="main">
		<div id="compitition_scheduler"></div>
	</div>
	<footer id="footer">{% include '@minty_homepage/common/footer.html' %}</footer>
	<div id="copyright"">{% include '@minty_homepage/common/copyright.html' %}</div>
	</div>
	<div id="navPanel">{% include '@minty_homepage/common/navigation_panel.html' %}</div>
	<script src="../ext/minty/homepage/init/minty.script.loader.js"></script>
	<script src="../ext/minty/homepage/init/minty.scheduler.script.loader.js"></script>
</body>

</html>