<!DOCTYPE HTML>
<html>

<head>{% include '@minty_homepage/common/head.html' %}</head>

<body class="is-preload">
	<div id="wrapper" class="fade-in">
		<div id="intro">{% include '@minty_homepage/common/intro.html' %}</div>
		<header id="header">{% include '@minty_homepage/common/banner.html' %}</header>
		<nav id="nav">{% include '@minty_homepage/common/navigation.html' %}</nav>
		<div id="main">

			<!-- Featured Post -->
			{% for ITEM in HOMEPAGE_POSTS %}
			<!-- IF ITEM.S_ROW_COUNT == 0 -->
			<article class="post featured">
				<header class="major">
					<span class="date">{{ ITEM.POST_DATE }}</span>
					<h2>{{ ITEM.TOPIC_TITLE }}</h2>
					<p>{{ ITEM.POST_TEXT }}</p>
				</header>
				<!--a href="#" class="image main"><img src="images/mission.jpg" alt="" /></a-->
				<ul class="actions special">
					<li><a href="./{{ ITEM.POST_LINK }}" class="button large"><i class="fas fa-joint"
								aria-hidden="true"></i> Full Story</a></li>
				</ul>
			</article>
			<!-- ENDIF -->
			{% else %}
			<div class="panel">
				<div class="inner">
					<strong>There are currently no published homepage items</strong>
				</div>
			</div>
			{% endfor %}

			<!-- Remaining Posts -->
			<section class="posts">
				{% for ITEM in HOMEPAGE_POSTS %}
				<!-- IF ITEM.S_ROW_COUNT > 0 -->
				<article class="post featured">
					<header>
						<span class="date">{{ ITEM.POST_DATE }}</span>
						<h2>{{ ITEM.TOPIC_TITLE }}</h2>
						<p>{{ ITEM.POST_TEXT }}</p>
					</header>
					<!--a href="#" class="image main"><img src="images/mission.jpg" alt="" /></a-->
					<ul class="actions special">
						<li><a href="{{ ITEM.POST_LINK }}" class="button large"><i class="fas fa-joint"
									aria-hidden="true"></i> Full Story</a></li>
					</ul>
				</article>
				<!-- ENDIF -->
				{% endfor %}
			</section>

		</div>
		<footer id="footer">{% include '@minty_homepage/common/footer.html' %}</footer>
		<div id="copyright">{% include '@minty_homepage/common/copyright.html' %}</div>
	</div>
	<div id="navPanel">{% include '@minty_homepage/common/navigation_panel.html' %}</div>
	<script src="../ext/minty/homepage/init/minty.script.loader.js"></script>
</body>

</html>