<!DOCTYPE HTML>
<html>
	<head data-load="head.html"/>
	<body class="is-preload">
		<div id="wrapper" class="fade-in">
			<div id="intro" data-load="intro.html"></div>
			<header id="header" data-load="banner.html"></header>
			<nav id="nav" data-load="navigation.html"></nav>
			<div id="main">
			{% for ITEM in HOMEPAGE_POSTS %}
				<article class="post featured">
					<header class="major">
						<span class="date"> {{ ITEM.POST_DATE }} </span>
						<h2>{{ ITEM.TOPIC_TITLE }}</h2>
						<p>{{ ITEM.POST_TEXT }}</p>
					</header>
					<!--a href="#" class="image main"><img src="images/mission.jpg" alt="" /></a-->
					<ul class="actions special">
						<li><a href="./{{ ITEM.POST_LINK }}" class="button large"><i class="fas fa-podcast" aria-hidden="true"></i> Listen</a></li>
					</ul>
				</article>
			{% else %}
				<div class="panel">
					<div class="inner">
						<strong>There are currently no published podcast items</strong>
					</div>
				</div>
			{% endfor %}

			<!--footer data-load="pagination.html"></footer-->
			</div>
			<footer id="footer" data-load="footer.html"></footer>
			<div id="copyright"  data-load="copyright.html"></div>
		</div>
		 
	<!-- IF ( U_ACP or U_MCP ) -->
	<!--div>ACP OR MCP PRIVELEDGES DETECTED¬!!!</div-->
	<!-- ENDIF -->
    <script src="../ext/minty/homepage/common/minty.script.loader.js"></script>
</body>
</html>



