<!DOCTYPE HTML>
<html>
	<head data-load="head.html"/>
	<body class="is-preload">
		<div id="wrapper" class="fade-in">
			<div id="intro" data-load="intro.html"></div>
			<header id="header" data-load="banner.html"></header>
			<nav id="nav" data-load="navigation.html"></nav>
			<div id="main">
			<section class="posts">
				{% for ITEM in HOMEPAGE_POSTS %}
					<article class="post featured">
						<header>
							<span class="date">{{ ITEM.POST_DATE }}</span>
							<h2>{{ ITEM.TOPIC_TITLE }}</h2>
							<p>{{ ITEM.POST_TEXT }}</p>
						</header>
						<!--a href="#" class="image main"><img src="images/mission.jpg" alt="" /></a-->
						<ul class="actions special">
							<li><a href="{{ ITEM.POST_LINK }}" class="button large"><i class="fas fa-user-check" aria-hidden="true"></i> Full Review</a></li>
						</ul>
					</article>
				{% endfor %}
			</section>

			<!--footer data-load="pagination.html"></footer-->
			</div>
			<footer id="footer" data-load="footer.html"></footer>
			<div id="copyright"  data-load="copyright.html"></div>
		</div>
		 
	<!-- IF ( U_ACP or U_MCP ) -->
	<!--div>ACP OR MCP PRIVELEDGES DETECTED¬!!!</div-->
	<!-- ENDIF -->
    <script src="../ext/minty/homepage/common/minty.script.loader.js"></script>
</body>
</html>



