<!DOCTYPE HTML>
<html>
	<head data-load="head.html">
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
			<div id="wrapper" class="fade-in">
				<div id="intro" data-load="intro.html"></div>
				<header id="header" data-load="banner.html"></header>
				<nav id="nav" data-load="navigation.html"></nav>
				<div id="main">
<!-- ########## MAIN BODY CONTENT FOLLOWS ############## -->

<h2>{{ HOMEPAGE_RESULT }}</h2>

<!-- ########## END MAIN BODY CONTENT FOLLOWS ############## -->
				</div>
				<footer id="footer" data-load="footer.html"></footer>
				<div id="copyright"  data-load="copyright.html"></div>
			</div>
			<script src="../ext/minty/homepage/common/minty.script.loader.js"></script>
	</body>
</html>